@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family:
    'Pretendard',
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    background: theme('colors.bg.DEFAULT');
    color: theme('colors.fg.DEFAULT');
  }

  * {
    border-color: rgb(100 116 139 / 0.2);
  }

  .dark * {
    border-color: rgb(148 163 184 / 0.2);
  }

  body {
    @apply antialiased;
  }
}

@layer components {
}

@layer utilities {
}
